<nav class="navbar">

  <form class="form-inline my-2 my-lg-0">
    <input name="searchText" class="form-control mr-sm-2" type="text" [(ngModel)]="searchKeyword" value={{searchKeyword}} placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="setSearch()" type="submit">Search</button>
  </form>

</nav>

<div class="container">
  <div class="row">
   <div class="col-sm-4">
      <app-displayimg></app-displayimg>
    </div>
    <div class="col-sm-4">
      <app-imagesearch [searchWord]='searchKeyword' (nextDone) ='notificationFromChild($event)' ></app-imagesearch>
    </div>
    <div class="col-sm-4">
      <app-textsearch></app-textsearch>
    </div>
   
  </div>
</div>
<footer>
  <p>SearchApp; 2017</p>
</footer>